@using System.Diagnostics.Eventing.Reader
@model EURIS.Entities.Prodotto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Visualizza - Modifica @Model.codice??""</h2>*@

<h2>Visualizza - Modifica
    @if (Model.codice != null)
    {
        @Model.codice
    }
</h2>



@using (Html.BeginForm())
{
    <Table>
        <tr>
            <td>Id</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(m => m.id, new {@readonly = "readonly"})</td>
        </tr>
        <tr>
            <td>Codice</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(m => m.codice)</td>
        </tr>
        <tr>
            <td>Descrizione</td>
        </tr>
        <tr>
            <td>@Html.TextBoxFor(m => m.descrizione)</td>
        </tr>
    </Table>
    <input type="submit" name ="BottoneSalva" value="Salva"/>
    <input type="submit" name ="BottoneAnnulla" value="Annulla" />
}
