@model EURISTest.Models.CommonViewModel

@{
    ViewBag.Title = "Listino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @using (Html.BeginForm("Crea"))
    {
        <input type="submit" name="BottoneCrea" value="Crea nuovo listino" />
    }
</p>

<table>

    @if (Model.Pricelistdata.Pricelists.Any())
    {
        <tr>
            <th>Id</th>
            <th>Codice</th>
            <th>Descrizione</th>
            <th>Azioni</th>
        </tr>

        foreach (var item in Model.Pricelistdata.Pricelists)
        {
            <tr>
                <td>@item.id</td>
                <td>@Html.ActionLink(item.codice, "Edit", new { item.id })</td>
                <td>@item.descrizione</td>
                <td>
                    @using (Html.BeginForm("Cancella"))
                    {
                        @Html.Hidden("id", item.id)
                        <input type="submit" name="BottoneDelete" value="Elimina" />
                    }
                </td>
            </tr>
        }
    }

</table>