@using EURIS.Entities
@model EURISTest.Models.CommonViewModel

@{
    ViewBag.Title = "Gestine Listino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@ViewBag.Title @ViewBag.Listino</h2>*@

<h2>@ViewBag.Title @Model.Pricelistdata.GetCodice(ViewBag.Listino)</h2>

<div id="idlistino" style="display: none">@ViewBag.Listino</div>


<!-- Listbox relativo ai prodotti -->
<div style="text-align: right; float: left; width: 45%; margin-top: 50px">
    <div class="title1">Prodotti disponibili</div>
    <div>
        @{
            @*rimuove dalla lista dei prodotti quelli gi' presenti all'interno del listino*@
            List<Prodotto> products = Model.Prodxlistinodata.FilterProducts(Model.Proddata.Products.ToList(), ViewBag.Listino);
        }
        <div style="display: none">
            @Html.ListBox("lbprodid", new MultiSelectList(Model.Proddata.Products.Select(g => g.id).ToList()))
        </div>
        @Html.ListBox("lbproducts", new MultiSelectList(products.Select(g => g.codice).ToList()), new {@class = "list"})
    </div>
</div>

<!-- Bottoni Add e Remove -->
<div style="text-align: center; float: left; width: 10%; margin-top: 170px">
    <div>
        @*@using (Html.BeginForm("Add"))
        {*@
            <input type="button" id="BtnAdd" name="AddProduct" value="&gt;" class="button1"/>
        @*}*@
    </div>
    <div>
        @*@using (Html.BeginForm("Remove"))
        {*@
            <input type="button" id="BtnRemove" name="RemoveProduct" value="&lt;" class="button1" />
        @*}*@
    </div>
</div>

<!-- Listbox relativo al listino -->
<div style="text-align: left; float: right; width: 45%; margin-top: 50px">
    <div class="title2">Prodotti del listino</div>
    <div>
        <div style="display: none">
            @*// mantienbe due liste parallele, contenenti rispettivamente gli id di prodotto, e i codici di prodotto relativi al listino specifico
            // la prirma lista e' hidden*@
            @{int ll = ViewBag.Listino;}
            @Html.ListBox("lbprodplid", new MultiSelectList(Model.Prodxlistinodata.ProdXListino.Where(pxl => pxl.id_listino == ll).Select(g => g.id_prodotto).ToList()))
            @*@Html.ListBox("lbprodplid", new MultiSelectList(Model.Proddata.Products.Select(g => g.id).ToList()))*@
        </div >
        <div>
            @*//int ll = ViewBag.Listino;*@
            @Html.ListBox("lbprodpl", new MultiSelectList(Model.Prodxlistinodata.ProdXListino.Where(pxl => pxl.id_listino == ll).Select(g => g.Prodotto.codice).ToList()), new {@class = "list"})
            @*@Html.ListBox("lbprodpl", new MultiSelectList(Model.Proddata.Products.Select(g => g.codice).ToList()), new {@class = "list"})*@
        </div>
        @*@using (Html.BeginForm("Update"))
        {*@
        <div style="padding: 5px 0 0 0px; clear: left; width: 200px">
            <input type="button" id="BtnSave" name="UpdatePricelist" value="Salva listino" style="width: 200px"/>
        </div>
        @*}*@
    </div>
</div>
